{% extends 'base.html' %}
	{% block tittle %}天天生鲜-商品列表{% endblock tittle %}
	{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					{% for type in types %}
					<li><a href="{% url 'goods:list' type.id 1 %}" class="{{ type.logo }}"></a>{{ type.name }}</li>
					{% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' type.id 1 %}">{{ type.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for goods in new_type_goods %}
					<li>
						<a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.image.url }}"></a>
						<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.name }}</a></h4>
						<div class="prize">￥{{ goods.price }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' type.id 1 %}" {% if sort == 'default' %}class="active"{% endif %}>默认</a>
				<a href="{% url 'goods:list' type.id 1 %}?sort=price" {% if sort == 'price' %}class="active"{% endif %}>价格</a>
				<a href="{% url 'goods:list' type.id 1 %}?sort=hot" {% if sort == 'hot' %}class="active"{% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for goods in page %}
				<li>
					<a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.image.url }}"></a>
					<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.price }}</span>
						<span class="unit">{{ goods.price }}/{{ goods.unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{% endfor %}
			</ul>

			<div class="pagenation">
				{% if page.has_previous %}
				<a href="{% url 'goods:list' type.id page.previous_page_number %}?sort={{sort}}"><上一页</a>
				{% endif %}
				{% for num in pg.page_range %}
				<a href="{% url 'goods:list' type.id num %}?sort={{sort}}" {% if page_num == num %}class="active"{% endif %}>{{ num }}</a>
				{% endfor %}
				{% if page.has_next %}
				<a href="{% url 'goods:list' type.id page.next_page_number %}?sort={{sort}}">下一页></a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock body %}